.switch {
  position: relative;
  display: inline-block;
  width: 3.875rem;
  height: 2.13rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2.5rem;
  transition: .4s;
  /* background-color: #ccc; */
  
  border: .1rem solid white;
  /* Imagem de fundo no toggle switch */
  background-image: url('../images/us_br-flags.png');
  background-size: cover;
}

.switch:hover .slider {
  background-color: #ccc; /* Manter a cor de fundo visível ao fazer o hover */
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.45rem;
  width: 1.45rem;
  left: .25rem;
  top: .2rem;
  background-color: white;
  border-radius: 50%;
  transition: .4s;
  border: .1rem solid white;
  z-index: 1;
}

.switch:hover .slider:before {
  transform: translateX(1.65rem); /* Mover a bolinha para o lado oposto ao fazer o hover */
}

input:checked + .slider {
  background-color: #109939;
}

input:focus + .slider {
  box-shadow: 0 0 1px #109939;
}

input:checked + .slider:before {
  transform: translateX(1.65rem);
}

input:focus + .slider:before {
  box-shadow: 0 0 1px #109939;
}

.flag {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2rem;
  height: 2rem;
}

.slider.us-flag:before {
  background-image: url('../images/us-flag.png');
  background-size: cover
}

.slider.br-flag:before {
  background-image: url('../images/br-flag.png');
  background-size: cover;
}

.switch:hover .us-flag:before {
  background-image: url('../images/br-flag.png')
}

.switch:hover .br-flag:before {
  background-image: url('../images/us-flag.png')
}

.slider:checked:before {
  transform: translateX(1.65rem);
}